# --- Graylog core ---
GRAYLOG_PASSWORD_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
GRAYLOG_ROOT_PASSWORD_SHA2=PUT_SHA256_HASH_HERE
GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9000/

# --- Automation container ---
GRAYLOG_API_TOKEN=PUT_YOUR_GRAYLOG_TOKEN_HERE
GRAYLOG_QUERY=*
POLL_SECONDS=30
BATCH_LIMIT=500
